@font-face {
  font-family: 'Wood Works 1974';
  src: local('Wood Works 1974'),
    url(../font/Wood-Works-1974.otf) format('opentype');
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Wood Works 1974';
  background: #822821 url('../../static/bg.jpg') no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
